/* !!!!!!!!!!!!!!!!!!!! */
/* LAYOUT HELPERS */
/* !!!!!!!!!!!!!!!!!!!! */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container {
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-weight: bold;
  color: #fafafa;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  color: #40ee66;
  margin-bottom: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  box-sizing: content-box;
  flex-grow: 3;
  flex-basis: 100%;

  /* design helper */
  border: 1px dotted rgb(68, 80, 211);
}

.content {
  /* Usage: always nest inside .item */
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;

  /* design helper */
  border: 4px dotted rgb(47, 244, 43);
}

.item.meta {
  flex-basis: 50%;
}

.item.cell {
  flex-basis: 25%;
}

/* adjustments for medium screens, like some tablets or landscape on a mobile */
@media (min-width: 576px) {
  .item {
    flex-basis: 50%;
  }
}

/* adjustments for medium-large screens, like some tablets */
@media (min-width: 768px) {
  .item {
    flex-basis: 33.3333333333333%;
  }
}

/* adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  #container {
    width: 992px;
    margin: 0 auto;
  }

  .item {
    flex-basis: 25%;
  }
}

/* !!!!!!!!!!!!!!!!!!!! */
/* END LAYOUT HELPERS */
/* !!!!!!!!!!!!!!!!!!!! */

body {
  background-color: #ef3753;
  color: #e8e7f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

.data-record {
  /* visual helper */
  border: 1px solid rgb(135, 250, 89);
}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
} 
